*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
font-family: helvetica neue;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(45, 45, 45);
    display: flex;
    align-items: center;
}
#card{
    flex-direction: column;
    height: 28rem;
    width: 50rem;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    font-family: monospace;
    
    span{
        color:rgb(255, 140, 140);
    }
    
    #load{
        margin: 20px;
        height: 20px;
        width: 90%;
        border: 1px solid black;
        border-radius: 10px;
        #inside{
            width:0%;
            height: 100%;
            background-color: rgb(255, 184, 107);    
            border-radius: 10px;
        }
    }
    #bottom{
        width: 100%;
        padding: 20px;
        display: flex;
        gap: 30px;
        justify-content: space-around;
        h1{
            font-size: 80px;
        }
        button{
            padding: 20px 40px;
            font-size: 20px;
            border-radius: 10px;
            font-weight: 600;
            background-color: rgb(173, 222, 255);
            font-family: monospace;
        }
        button:active{
            scale: 0.9;
        }
        }

}