* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica neue;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(30, 30, 30);
  padding: 38px;
  display: flex;
  align-items: center;
}

#ctn {
  height: 400px;
  width: 90%;
  background-color: rgb(47, 47, 48);
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  display: inline-flex;
}
#ctn .white {
  background-color: white;
  height: 100%;
  width: 40px;
}
#ctn .black {
  background-color: black;
  height: 100%;
  width: 40px;
}